.exercisesContainer {
    width: 90%;
    max-width: 600px;
    margin: 20% 4%;
    margin-top: min(20%, 130px);
}
.mainContainer {
    display: flex;
    justify-content: center;
}

.display-none {
    display: none !important;
}