.exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7vh;
    z-index: 2;
    background-color: #d8e4f93d;
    border-radius: 1em;
}
.exercise {
    cursor: pointer;
}

.exercise--expanded {
    height: 70vh;
}

.exercise--expanded .exercise__caption,
.exercise--expanded .exercise__nextButton,
.exercise--expanded .exercise__banner {
    display: block;
}

.exercise--expanded .exercise__short {
    display: none;
}

.exercise__arrow {
    width: 30px;
}
.exercise__arrow:hover {
    cursor: pointer;
}

.exercise__banner {
    display: none;
    height: 150px;
    width: 80%;
    text-align: center;
    margin-bottom: 5px;
    /* filter: contrast(0.95); */
}

.exercise__caption {
    display: none;
    width: 90%;
    min-height: 30%;
    margin-top: auto;
    padding: 0.4em;
    border-radius: 0.8em;
    font-size: calc(1.1em + 0.3vw);
    background-color: #f0f0ce;
}
.exercise__nextButton {
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 1em;
    padding: 8px;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    background-color: rgb(78, 146, 78);
}

.exercise__header {
    background-color: #c6d5ec;
    border-radius: 1em;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.exercise__header__title {
    font-size: calc(1.5em + 0.7vw);
}

.exercise__short {
    align-self: flex-start;
    margin: 3px 0 0 0.5em;
    color: #716060;
    font-size: calc(1em + 0.5vw);
}

.exercise__level {
    background-color: #5B8BDF;
    color: white;
    align-self: flex-start;
    margin: 1em 0.3em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 1em;
    padding: 2px 0.6em;
}
