.exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    z-index: 2;
}
.exercise {
    cursor: pointer;
}

.exercise--expanded {
    height: 70vh;
}

.exercise--expanded .exercise__caption,
.exercise--expanded .exercise__nextButton {
    display: block;
}

.exercise--expanded .exercise__short {
    display: none;
}

.exercise__arrow {
    width: 30px;
}
.exercise__arrow:hover {
    cursor: pointer;
}

.exercise__caption {
    display: none;
    width: 90%;
    margin-top: 20px;
    padding: 0.2em;
    border-radius: 1em;
    background-color: #f6f3f3;
}
.exercise__nextButton {
    display: none;
    margin-top: auto;
}

.exercise__header {
    background-color: #a9c7fc3d;
    border-radius: 1em;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.exercise__header__title {
    font-size: calc(1.5em + 0.8vw);
}

.exercise__short {
    align-self: flex-start;
    margin: 3px 0 0 0.5em;
    color: #716060;
    font-size: calc(1em + 0.5vw);
}

.exercise__level {
    background-color: #5B8BDF;
    color: white;
    align-self: flex-start;
    margin: 1em 0;
    font-size: 1em;
    font-weight: 500;
    border-radius: 1em;
    padding: 2px 0.6em;
}
