.exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.exercise__header {
    background-color: #a9c7fc3d;
    border-radius: 1em;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.exercise__header__title {
    font-size: 1.5em;
}

.exercise__category {
    align-self: flex-start;
    margin: 3px 0 0 0.5em;
    color: #716060;
}

.exercise__level {
    background-color: #5B8BDF;
    color: white;
    align-self: flex-start;
    margin: 1em 0;
    font-size: 1em;
    font-weight: 500;
    border-radius: 1em;
    padding: 2px 0.6em;
}
