.nav-socials-icon {
    width: 50%;
}
.card-toggler{
    margin-bottom: 3px;
    background-color: #00000000;
    border: none;
    width: 100%;
}
.cs-card-container{
    background-color: rgb(225, 243, 246);
    border-radius: 8px;
}
.cs-main-row {
    margin-top: 4% !important;
    max-width: 750px !important;
}

